@model IEnumerable<RailwayTrafficSolution.Models.Train>

@{
    ViewData["Title"] = "Index";
}

<h1>Поезда</h1>

<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер поезда
            </th>
            <th>
                Дистанция пути
            </th>
            <th>
                Брэндированный
            </th>
            <th>
                Тип поезда
            </th>
            @if (User.IsInRole("MainAdmin") || User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceInKm)
            </td>
            <td>
                    @if (item.IsBrandedTrain == true)
                    {
                        <p>Да</p>
                    }
                    else
                    {
                        <p>Нет</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainType.TypeName)
            </td>
                @if (User.IsInRole("MainAdmin") || User.IsInRole("Admin"))
                {
                <td>
                        <a asp-action="Edit" asp-route-id="@item.TrainId">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.TrainId">Подробно</a> |
                        <a asp-action="Delete" asp-route-id="@item.TrainId">Удалить</a>
                </td>
                }
        </tr>
}
    </tbody>
</table>
