@using RailwayTrafficSolution.ViewModels.ScheduleViewModels;
@model ScheduleIndexViewModel

@{
    ViewData["Title"] = "Расписание";
}

<h1>Расписание</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить новую запись</a>
</p>
<form method="get" class="bg-primary bg-gradient p-2 rounded-3" style="--bs-bg-opacity: .3;">
    <div class="form-group">
        <h4>Фильтрация</h4>
    </div>
    <div class="form-group">
        <label>Поезд: </label>
        <select name="train" asp-items="Model.FilterViewModel.Trains" class="form-control"></select>
    </div>
    <p></p>
    <div class="form-group">
        <label>Остановка: </label>
        <select name="stop" asp-items="Model.FilterViewModel.Stops" class="form-control"></select>
    </div>
    <p></p>
    <input type="submit" value="Применить" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-primary">Сбросить фильтр</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.DayOfWeekSort)"
                   asp-route-train="@(Model.FilterViewModel.SelectedTrain)"
                   asp-route-stop="@(Model.FilterViewModel.SelectedStop)">День недели
               </a>
            </th>
            <th>
                Поезд
            </th>
            <th>
                Остановка
            </th>
            <th>
                Время прибытия
            </th>
            <th>
                Время отправки
            </th>
            @if (User.IsInRole("MainAdmin") || User.IsInRole("Admin"))
            {
                <th></th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Train!.TrainNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Stop!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            @if (User.IsInRole("MainAdmin") || User.IsInRole("Admin"))
            {
                <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleId">Удалить</a>
                        
                </td>
            }
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index"
       asp-route-page="@(1)"
       asp-route-train="@(Model.FilterViewModel.SelectedTrain)"
       asp-route-stop="@(Model.FilterViewModel.SelectedStop)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-primary">
        1
    </a>
    <button type="button" class="btn btn-lg btn-primary" disabled>@Model.PageViewModel.PageNumber</button>
    @if (Model.PageViewModel.TotalPages!=0)
    {
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.TotalPages)"
       asp-route-train="@(Model.FilterViewModel.SelectedTrain)"
       asp-route-stop="@(Model.FilterViewModel.SelectedStop)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-primary">
        @Model.PageViewModel.TotalPages
    </a>       
    }
</div>
<p></p>
<div>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-train="@(Model.FilterViewModel.SelectedTrain)"
           asp-route-stop="@(Model.FilterViewModel.SelectedStop)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn btn-primary">
            &lt;
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-train="@(Model.FilterViewModel.SelectedTrain)"
           asp-route-stop="@(Model.FilterViewModel.SelectedStop)"
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="btn btn-primary">
            &gt;
        </a>
    }
</div>